@using LandedMVC.Resources

@{
    ViewData["Title"] = Res.TitleHome;
}

<section id="banner">
	<div class="content">
		<header>
			<h2>@Res.HeaderSplash</h2>
			<p>
				@Html.Raw(Res.TextSplash)
			</p>
		</header>
		<span class="image"><img src="images/pic01_316.jpg" alt="" /></span>
	</div>
	<a href="#one" class="goto-next scrolly">@Res.NavNext</a>
</section>

<!-- One -->
<section id="one" class="spotlight style1 bottom">
	<span class="image fit main"><img src="images/pic03_1600x1050.jpg" alt="" /></span>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-4 col-12-medium">
					<header>
						<h2>@Res.HeaderWelcome</h2>
						<p>
							@Html.Raw(Res.SubHeaderWelcome)
						</p>
					</header>
				</div>
				<div class="col-4 col-12-medium">
					<p>
						@Html.Raw(Res.TextWelcome1)
					</p>
				</div>
				<div class="col-4 col-12-medium">
					<p>
						@Res.TextWelcome2
					</p>
				</div>
			</div>
		</div>
	</div>
	<a href="#two" class="goto-next scrolly">@Res.NavNext</a>
</section>

<!-- Two -->
<section id="two" class="spotlight style2 right">
	<span class="image fit main"><img src="images/pic02_1600X1050.jpg" alt="" /></span>
	<div class="content">
		<header>
			<h2>@Res.HeaderBio</h2>
			<p>
				@Html.Raw(Res.SubHeaderBio)
			</p>
		</header>
		<p>@Res.TextBio</p>
		<ul class="actions">
			<li><a href="https://resume.mypitech.com" target="_blank" class="button">@Res.LinkBio</a></li>
		</ul>
	</div>
	<a href="#three" class="goto-next scrolly">@Res.NavNext</a>
</section>

<!-- Three -->
<section id="three" class="spotlight style3 left">
	<span class="image fit main bottom"><img src="images/pic04_3200x2100.jpg" alt="" /></span>
	<div class="content">
		<header>
			<h2>@Res.HeaderStory</h2>
			<p>@Res.SubHeaderStory</p>
		</header>
		@Html.Raw(Res.TextStory)
	</div>
	<a href="#four" class="goto-next scrolly">@Res.NavNext</a>
</section>

<!-- Four -->
<section id="four" class="wrapper style1 special fade-up">
	<div class="container">
		<header class="major">
			<h2>@Res.HeaderTech</h2>
			@Html.Raw(Res.SubHeaderTech)
		</header>
		<div class="box alt">
			<div class="row gtr-uniform">
				<section class="col-4 col-6-medium col-12-xsmall">
                    <a asp-action="index" asp-controller="users" class="icon solid major fa-users"></a>
					<h3>@Res.HeaderTechUsers</h3>
                    <p>@Res.SubHeaderTechUsers</p>
				</section>
				<section class="col-4 col-6-medium col-12-xsmall">
					<a asp-action="index" asp-controller="events" class="icon solid major fa-calendar"></a>
					<h3>@Res.HeaderTechEvents</h3>
					<p>@Res.SubHeaderTechEvents</p>
				</section>
				<section class="col-4 col-6-medium col-12-xsmall">
					<a href="https://swcoretestapi.azurewebsites.net/swagger/index.html" target="_blank" class="icon solid major fa-database"></a>
					<h3>@Res.HeaderTechAPI</h3>
					<p>@Res.SubHeaderTechAPI</p>
				</section>
			</div>
		</div>
		<footer class="major">
			<ul class="actions special">
				<li><a href="#five" class="button scrolly">@Res.NavContactMe</a></li>
			</ul>
		</footer>
	</div>
</section>

<!-- Five -->
<section id="five" class="wrapper style2 special fade">
	<div class="container">
		<div id="notification" class="notification light"></div>
		<header>
			<h2>@Res.HeaderContact</h2>
			<p>@Res.SubHeaderContact</p>
		</header>
		
		<form id="contactForm" method="post" action="#" class="cta">
			<div class="col-12">
				<div class="col-8 col-12-xsmall"><input type="text" name="name" id="name" placeholder="* @Res.FormContactName" /></div>
				<textarea name="message" id="message" placeholder="* @Res.FormContactMessage" rows="6"></textarea><br />
			</div>
			<div class="col-4 col-12-xsmall"><input type="submit" value="@Res.FormContactSend" class="fit primary" /></div>
		</form>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_DataTablesUIPartial");
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		const V_MESSAGES = {
			name: {
				required: '@Res.FormContactRequiredName'
			},
			message: {
				required: '@Res.FormContactRequiredMessage'
			}
		};
		const S_SENDING = '@Res.FormContactNotify';
		const S_SUCCESS = '@Res.FormContactSuccess';
		const S_ERROR = '@Res.FormContactError';
	</script>
	<script src="~/js/views/home/index.js"></script>
}